.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: auto;
    padding: 0.5rem;
}

.table {
    position: relative;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    background-color: var(--white-color);
}

.header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--white-color);
}

.body {
    position: relative;
    width: 100%;
}

.header th, .body td {
    padding: 0.25rem 0.5rem;
    text-align: left;
    border-bottom: 1px solid var(--grey-color);
}

.body tr:nth-child(even) {
    background-color: var(--white-color);
}

.body tr:nth-child(odd) {
    background-color: var(--light-grey-color);
}

.body tr:hover {
    background-color: var(--grey-color);
}

@media screen and (max-width:768px) {
    .table {
        border: 0;
    }

    .header {
        display: none;
    }

    .container, .body, .table tr, .table td {
        display: block;
        width: 100%;
    }

    .table tr {
        border-bottom: 3px solid var(--grey-color);
        display: block;
        margin-bottom: .625em;
    }

    .table td {
        border-bottom: 1px solid var(--grey-color);
        display: block;
        font-size: 0.8em;
        text-align: right;
    }

    .table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    .table td:last-child {
        border-bottom: 0;
    }
}

