.row {
    display: flex;
    flex-direction: row;
    gap: var(--column-gap) var(--row-gap);
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.row-aligned-end {
    justify-content: flex-end;
    align-items: center;
}

.all-width {
    position: relative;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
}