.primary {
    background-color: var(--primary-bg-color);
    color: #fff;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



.loading {
    background: linear-gradient(270deg, var(--grey-color) 0%, var(--light-grey-color) 50%, var(--grey-color) 100%);
    background-size: 400% 400%;
    animation: gradientAnimation 2s ease infinite;
}