.navbar {
    position: relative;
    width: 100%;
    color: #1E90FF;
    box-shadow: var(--card-box-shadow);
    padding: var(--padding-container);
    height: fit-content;
    overflow-wrap: break-word;
    font-weight: bold;
}